{% extends "base.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container">

        <h1>Multiple apps with Slim framework</h1>

        {% if name != '' %}
            <h2>Hello {{ name|escape }}!</h2>
        {% else %}
            <p>Just another web application!</p>
        {% endif %}

        <p><a href="{{ path_for('hello') }}" title="Hello page">&raquo; Hello page</a></p>
    </div>
{% endblock %}