<!doctype html>
<html>
<head>
    <title>Slim 3</title>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
</head>
<body>

<div class="container">

    <h3>Mutliple Slim 3 Applications</h3>

    <p>Slim Application with MVC architecture, Modules, Twig views</p>

</div>

</body>
</html>